<!DOCTYPE html>
<html>

<head>
  <% include ./public/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

<body>
  <div class="homeBackground">
    <img style="visibility: hidden; " class="img-responsive test1" src="/images/home/homeBuilding.png"/>

    <!-- quick search at right side -->
    <% include ./public/quickSearch %>

    <!-- head search -->
    <% include ./public/headItem %>


<div id="news">
<div id="title">
<img src="/images/home/news.png"/>
</div>
<img src="/images/home/video-1.png"/>
<img src="/images/home/video-2.png"/>
<img src="/images/home/video-3.png"/>


<div id="button6">


<img src="/images/home/button-6.png"/>
<img src="/images/home/button-6.png"/>
<img src="/images/home/button-6.png"/>


</div>
<div id="tsmc1">

<h2><i>TSMC</i></h2>
</div>

<div id="tsmc2">

<h2><i>TSMC</i></h2>
</div>
<div id="tsmc3">

<h2><i>TSMC </i></h2>
</div>





</div>

    <!-- News -->
    <div id="news_content">
      <div id="content">
        <div>
          <h2>TSMC</h2>
          <p>The paper is organized as follows. Section II presents a brief overview of the main themes in the literature as it pertains to factors that predict successful application of QFD</p>
        </div>
        <div>
          <h2>TSMC</h2>
          <p>The paper is organized as follows. Section II presents a brief overview of the main themes in the literature as it pertains to factors that predict successful application of QFD</p>
        </div>
        <div>
          <h2>TSMC</h2>
          <p>The paper is organized as follows. Section II presents a brief overview of the main themes in the literature as it pertains to factors that predict successful application of QFD</p>
        </div>
      </div>
      <div><img src="images/home/video-4.png" alt="" class="img-responsive"></div>
    </div>

  </div>
  <div id="middle">
    <div style="padding-left: 5%; width: 912px; height: vh;">
      
    </div>
    <div style="background-color: rgba(13, 52, 95, 1); width: 262px;">
      
    </div>
  </div>
  <% include ./public/footer %>

</body>
