    <div id="head">
      <div style="display: flex;flex-direction: row; position: relative;">
        <img src="/images/home/Logo.png" alt=""  style="height: 100%">
        <div style=" margin-left: 34px">
          <div>
            <img src="/images/home/school.png" alt="" style="margin-bottom: 10px;">
            <div id="head_button">
              <div class="ui dropdown">
                <img src="/images/home/button-1.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
              <div class="ui dropdown">
                <img src="/images/home/button-2.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
              <div class="ui dropdown">
                <img src="/images/home/button-3.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
              <div class="ui dropdown">
                <img src="/images/home/button-4.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
              <div class="ui dropdown">
                <img src="/images/home/button-5.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
              <div class="ui dropdown">
                <img onclick="location.href='/researchers?page=1&letter=All'" src="/images/home/button-6.png" alt="">
                <div class="menu">
                  <div class="item">New_A</div>
                  <div class="item">New_B</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>