<div id="quicksearch">
  <div class="ui right pointing dropdown">
    <img src="/images/home/icon-1.png" alt="">
    <div class="menu">
      <div class="ui left search icon input">
        <i class="search icon"></i>
        <input type="text" name="search" placeholder="Search issues...">
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        Filter by tag
      </div>
      <div class="item">
        <div class="ui red empty circular label"></div>
        Important
      </div>
      <div class="item">
        <div class="ui blue empty circular label"></div>
        Announcement
      </div>
      <div class="item">
        <div class="ui black empty circular label"></div>
        Discussion
      </div>
    </div>
  </div>
  <img src="/images/home/icon-2.png" alt="">
</div>